footer{
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    
}

header{
    background-color: red;
    display: flex;
    justify-content: center;
    margin-left: -80px;
    margin-right: -80px;
}

.headerText{
    color:white;
    font-size: 30px;
    font-weight: 200;
    font-family: Times New Roman;
    display: flex;
    justify-content: center;
}

header img{
    height:300px;
    width:500px;
}

header h1 {
    color: white;
    display: flex;
    align-self: flex-end;
    left: 100px;
}

body{
    margin-right: 80px;
    margin-left: 80px;
    
}

.contact{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    margin-left: -80px;
    margin-right: -80px;
}

.logo{
    width: 400px;
    height: 300px;
}

.showItem {
    display: list-item;
}
.hideItem {
    display: none;
}

#filterBoxes {
    display: inline-block;
}

#state{
    display: flex;
    justify-content: flex-end;
}